.custom-marker {
    background-size: cover;

    cursor: pointer;
}
.marker-title {
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 999;
}

.container_map {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.driver_info {
    position: absolute;
    bottom: 0;
    left:0;
}

.notif_close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}